@import "../../helpers/*.css";

.references{

  .slick-slider{
    margin: 0;
    }

  &__carousel{
    overflow: hidden;
    position: relative;
    }
  &__container{
    white-space: nowrap;
    font-size: 0;
    text-align: center;
    transform: translateX(0);
    }
  &__link{
    vertical-align: middle;
    width: 16.66%;
    margin: 0;
    display: inline-block;
    text-align: center;
    }
  &__known,
  &__projects{
    margin: 0 0 20px;
    line-height: 80px;
    }
  &__sub-title{
    border-bottom: 1px solid $border-grey;
    font-size: 16px;
    line-height: 30px;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    color: color($black a(70%));
    margin: 0 0 20px;
    }
  &__name{
    font-size: 16px;
    line-height: 25px;
    font-family: 'PT Sans Caption', sans-serif;
    color: $cyan;
    }
  &__role{
    font-size: 13px;
    line-height: 20px;
    font-family: 'PT Sans Caption', sans-serif;
    color: $light-grey;
    }
  &__avatar{
    float: left;
    width: 50px;
    margin: 0 20px 0 0;
    }
  &__person{
    @mixin clearit;
    }
  &__title{
    font-size: 22px;
    line-height: 30px;
    padding: 20px 0;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    border-bottom: 1px solid $border-grey;
    margin: 0 0 20px;
    color: color($black a(80%));
    }
  &__list{
    @mixin clearit;
    overflow: hidden;
    position: relative;
    }
  &__reference{
    text-align: left;
    box-sizing: border-box;
    width: 50%;
    padding: 0 20px 0 0;
    margin: 0 0 60px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    &-text{
      font-size: 16px;
      line-height: 20px;
      color: color($black a(80%));
      margin: 0 0 20px;
      }
    }
  &__wrapper{
    position: relative;
    max-width: 990px;
    padding: 20px 20px 40px;
    margin: 0 auto;
    }
  }


@media screen and (max-width: 767px) {
  html body .references{
    &__wrapper{
      padding: 0 20px;
      margin: 0;
      }
    &__text{
      margin: 0;
      }
    &__logos{
      font-size: 0;
      white-space: nowrap;
      display: block;
      overflow: hidden;
      }
    &__link{
      text-align: center;
      padding: 0;
      margin: 0;
      width:25%;
      display: inline-block;
      }
    &__reference{
      width: auto;
      margin: 0 0 50px;
      width: 50%;
      }
    }
  }

@media screen and (max-width: 600px) {
  html body .references{
    &__reference{
      width: 100%;
      }
    &__link{
      text-align: center;
      padding: 0;
      margin: 0;
      width:50%;
      display: inline-block;
      }
    }
  }
