.references
  .references__wrapper
  
    section.references__comments
      h2.references__title Our References
      
      .references__list.references__carousel
        .references__container

          .references__reference
            .references__reference-text 
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et justo commodo.
            .references__person
              img.references__avatar(src="images/avatar.jpg", alt="Avatar")
              .references__person-details
                p.references__name Alfred
                p.references__role MasterCard

          .references__reference
            .references__reference-text 
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et justo commodo.
            .references__person
              img.references__avatar(src="images/avatar.jpg", alt="Avatar")
              .references__person-details
                p.references__name Stan
                p.references__role MasterCard
                
          .references__reference
            .references__reference-text 
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et justo commodo.
            .references__person
              img.references__avatar(src="images/avatar.jpg", alt="Avatar")
              .references__person-details
                p.references__name Kenny
                p.references__role MasterCard
    
    section.references__projects
      h3.references__sub-title Made projects for  
      .references__logos.references__carousel
        .references__container
          a.references__link(href="#")
            img.logotype(src="images/logotype-1.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-2.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-3.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-4.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-1.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-2.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-3.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-4.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-1.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-2.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-3.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-4.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-1.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-2.png", alt="Logotype")
    
    section.references__known
      h3.references__sub-title Known from
      .references__logos.references__carousel
        .references__container
          a.references__link(href="#")
            img.logotype(src="images/logotype-5.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-6.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-7.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-8.png", alt="Logotype")
          a.references__link(href="#")
            img.logotype(src="images/logotype-5.png", alt="Logotype")
