section.window
  .window__wrapper
    h1.window__title We make interactive sketches of your product (the wireframes)
    form.window__form(action="/request", method="post")
      input.window__input(type="text", name="name", placeholder="Name", required="required")
      input.window__input(type="email", name="email", placeholder="E-mail", required="required")
      button.window__submit(type="submit") Requst free wireframes
