header.page-header
  .page-header__wrapper
    a(href="/")
      h1.page-header__logotype Seductive Mobile
    nav.page-header__navigation
      a.page-header__link(href="#Works") Works
      a.page-header__link(href="#Blog") Blog
      a.page-header__link(href="#Wireframes") Get Free Wireframes
      a.page-header__link.page-header__link_selected(href="#Contact") Contact us
    
