section.info
  .info__wrapper
    section.info__block
      h2.info__title What is Wireframes
      p.info__text It's a set of mockups linked to ecach other to describe the flow of the app. It can be opened on mobile device or just in web browser.
    section.info__block
      h2.info__title What is the Process
      p.info__text We’ll set a call to understand your business tasks and vision. Next our designer develops first prototype and we check it with you. Everything is done in 2-5 working days.
    section.info__block
      h2.info__title No Jokes - it’s Free
      p.info__text Giving before asking is our rule. We're willing to invest some time to assure that this collaboration will work. No charge and no obligations.
