@import "source/helpers/helpers.css";

.info{
  margin: 60px 0;
  &__wrapper{
    position: relative;
    max-width: 990px;
    padding: 0 20px;
    margin: 0 auto;
    @mixin clearit;
    }
  &__block{
    width: 33%;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    float: left;
    min-height: 205px;
    }
  &__title{
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    font-family: "PT Sans Caption", sans-serif;
    color: $black;
    margin: 0 0 10px;
    }
  &__text{
    font-size: 16px;
    line-height: 20px;
    color: $black;
    margin: 0 0 10px;
    }
  }

@media screen and (max-width: 650px) {
  html body .info{
    margin: 60px 0 25px;
    &__block{
      width: auto;
      float: none;
      min-height: 0;
      margin: 0 0 35px;
      }
    }
  }
