extends ../elements/layout/layout.jade

block content
  include ../elements/header/header.jade
  +header(true, true)
  include ../elements/blog-post/blog-post.jade
  include ../elements/contacts/contacts.jade
