extends ../elements/layout/layout.jade

block content
  include ../elements/header/header.jade
  +header(true, true)
  include ../elements/blog-list/blog-list.jade
  include ../elements/contacts/contacts.jade
