extends ../elements/layout/layout.jade

block content
  include ../elements/header/header.jade
  +header(false)
  include ../elements/abstract/abstract.jade
  include ../elements/offer/offer.jade
  include ../elements/casestudies/casestudies.jade
  include ../elements/references/references.jade
  include ../elements/about/about.jade
  include ../elements/contacts/contacts.jade
