extends ../elements/layout/layout.jade

block headers
  include ../elements/card-header/card-header.jade
  
block content
  include ../elements/card-abstract/card-abstract.jade
  include ../elements/advantages/advantages.jade
  include ../elements/card-get/card-get.jade
  include ../elements/card-details/card-details.jade
