extends ../elements/layout/layout.jade

block content
  include ../elements/header/header.jade
  include ../elements/window/window.jade
  include ../elements/info/info.jade
  include ../elements/details/details.jade
  include ../elements/contacts/contacts.jade
