.casestudies
  h2.casestudies__title Case Studies
  .casestudies__cases

    a.casestudies__case(href="#")
      .casestudies__cover-wrapper
        img.casestudies__cover(src="images/cover-1.jpg", alt="Cover")
      .casestudies__details
        h3.casestudies__subtitle Mastercard Locator
        p.casestudies__text Application for Loyalty Program of Leading Card Operator

    a.casestudies__case(href="#")
      .casestudies__cover-wrapper
        img.casestudies__cover(src="images/cover-2.jpg", alt="Cover")
      .casestudies__details
        h3.casestudies__subtitle Mastercard Locator
        p.casestudies__text Application for Loyalty Program of Leading Card Operator
        
    a.casestudies__case(href="#")
      .casestudies__cover-wrapper
        img.casestudies__cover(src="images/cover-3.jpg", alt="Cover")
      .casestudies__details
        h3.casestudies__subtitle Mastercard Locator
        p.casestudies__text Application for Loyalty Program of Leading Card Operator
        
    a.casestudies__case(href="#")
      .casestudies__cover-wrapper
        img.casestudies__cover(src="images/cover-2.jpg", alt="Cover")
      .casestudies__details
        h3.casestudies__subtitle Mastercard Locator
        p.casestudies__text Application for Loyalty Program of Leading Card Operator
        
    a.casestudies__case(href="#")
      .casestudies__cover-wrapper
        img.casestudies__cover(src="images/cover-1.jpg", alt="Cover")
      .casestudies__details
        h3.casestudies__subtitle Mastercard Locator
        p.casestudies__text Application for Loyalty Program of Leading Card Operator Application for Loyalty Program of Leading Card Operator
        
    a.casestudies__case(href="#")
      .casestudies__cover-wrapper
        img.casestudies__cover(src="images/cover-2.jpg", alt="Cover")
      .casestudies__details
        h3.casestudies__subtitle Mastercard Locator
        p.casestudies__text Application for Loyalty Program of Leading Card Operator
        
    a.casestudies__case(href="#")
      .casestudies__cover-wrapper
        img.casestudies__cover(src="images/cover-1.jpg", alt="Cover")
      .casestudies__details
        h3.casestudies__subtitle Mastercard Locator
        p.casestudies__text Application for Loyalty Program of Leading Card Operator

    a.casestudies__case(href="#")
      .casestudies__cover-wrapper
        img.casestudies__cover(src="images/cover-2.jpg", alt="Cover")
      .casestudies__details
        h3.casestudies__subtitle Mastercard Locator
        p.casestudies__text Application for Loyalty Program of Leading Card Operator
        
    a.casestudies__case(href="#")
      .casestudies__cover-wrapper
        img.casestudies__cover(src="images/cover-3.jpg", alt="Cover")
      .casestudies__details
        h3.casestudies__subtitle Mastercard Locator
        p.casestudies__text Application for Loyalty Program of Leading Card Operator
        
    a.casestudies__case(href="#")
      .casestudies__cover-wrapper
        img.casestudies__cover(src="images/cover-2.jpg", alt="Cover")
      .casestudies__details
        h3.casestudies__subtitle Mastercard Locator
        p.casestudies__text Application for Loyalty Program of Leading Card Operator
        
    a.casestudies__case(href="#")
      .casestudies__cover-wrapper
        img.casestudies__cover(src="images/cover-1.jpg", alt="Cover")
      .casestudies__details
        h3.casestudies__subtitle Mastercard Locator
        p.casestudies__text Application for Loyalty Program of Leading Card Operator Application for Loyalty Program of Leading Card Operator
        
    a.casestudies__case(href="#")
      .casestudies__cover-wrapper
        img.casestudies__cover(src="images/cover-2.jpg", alt="Cover")
      .casestudies__details
        h3.casestudies__subtitle Mastercard Locator
        p.casestudies__text Application for Loyalty Program of Leading Card Operator

  //- nav.casestudies__navigation
  //-   button.casestudies__page.casestudies__page_current(type="button"): span
  //-   button.casestudies__page(type="button"): span
  //-   button.casestudies__page(type="button"): span
  //-   button.casestudies__page(type="button"): span
