section.blog-list
  article.blog-list__post
    h2.blog-list__title Remote User Research & Usability Methods to Gather Important Insights Fast
    time.blog-list__time(date-time="2015-07-11") Posted on June 11, 2015
    
    figure
      img.blog-list__cover(src="http://placehold.it/620x320", alt="Cover")
      figcaption.blog-list__abstract It's a set of mockups linked to ecach other to describe the flow of the app. It can be opened on mobile device or just in web browser.
    a.blog-list__more(href="#") Read more
    
  article.blog-list__post
    h2.blog-list__title Remote User Research & Usability Methods to Gather Important Insights Fast
    time.blog-list__time(date-time="2015-07-11") Posted on June 11, 2015
    p.blog-list__abstract It's a set of mockups linked to ecach other to describe the flow of the app. It can be opened on mobile device or just in web browser.
    a.blog-list__more(href="#") Read more
    
  article.blog-list__post
    h2.blog-list__title Remote User Research & Usability Methods to Gather Important Insights Fast
    time.blog-list__time(date-time="2015-07-11") Posted on June 11, 2015
    p.blog-list__abstract It's a set of mockups linked to ecach other to describe the flow of the app. It can be opened on mobile device or just in web browser.
    a.blog-list__more(href="#") Read more
    
  article.blog-list__post
    h2.blog-list__title Remote User Research & Usability Methods to Gather Important Insights Fast
    time.blog-list__time(date-time="2015-07-11") Posted on June 11, 2015
    figure
      img.blog-list__cover(src="http://placehold.it/620x320", alt="Cover")
      figcaption.blog-list__abstract It's a set of mockups linked to ecach other to describe the flow of the app. It can be opened on mobile device or just in web browser.
    a.blog-list__more(href="#") Read more
    
  article.blog-list__post
    h2.blog-list__title Remote User Research & Usability Methods to Gather Important Insights Fast
    time.blog-list__time(date-time="2015-07-11") Posted on June 11, 2015
    p.blog-list__abstract It's a set of mockups linked to ecach other to describe the flow of the app. It can be opened on mobile device or just in web browser.
    a.blog-list__more(href="#") Read more
