@import "../../helpers/*.css";

body{
  font-family: 'PT Sans', sans-serif;
  min-height: 100vh;
  position: relative;
  padding: 0 0 530px;
  box-sizing: border-box;
  overflow-x: hidden;
  a{
    color: $lighter-blue;
    &:hover,
    &:active{
      text-decoration: none;
      }
    }
  }


@media screen and (max-width: 650px) {
  html body{
    padding: 0;
    }
  }
