@import "source/helpers/colors.css";

@define-mixin input {
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 13px 10px 9px;
  margin: 0;
  height: 40px;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  background: $darkest-blue;
  font-family: "PT Sans";
  box-sizing: border-box;
  transition: background-color .25s;
  &:focus,
  &:hover{
    background: color($darkest-blue lightness(+3%));
    }
  }

@define-mixin bc {
  cursor: pointer;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-style: none;
  margin: 0;
  padding: 0;
  &::-moz-focus-inner {
    padding: 0;
    border: 0
    }
  }

@define-mixin buttonClean {
  @mixin bc;
  padding: 12px 10px 10px;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  font-family: "PT Sans";
  background: $lighter-blue;
  box-sizing: border-box;
  transition: background-color .25s;
  &:focus,
  &:hover{
    background: color($lighter-blue lightness(-20%));
    }
  }

@define-mixin clearit {
  &:after{
    content: ".";
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both;
    overflow: hidden;
    text-indent: -999px;
    }
  }
