.offer
  .offer__wrapper
    h2.offer__title Special Offer: 
      span Get Free Wireframes
    p.offer__text The wireframes show a very simple version of products interface. It’s perfect for discussing with team, testing with users and approving with bosses or investors. 
    ul.offer__features
      li.offer__feature Clarified Specs & Evaluation
      li.offer__feature Do Demos & Get Feedback
      li.offer__feature Fast, Cool and totally free
    a.offer__visualize(href="#") Visualize My Product
