@font-face {
    font-family: 'PT Sans Caption';
    src: url('../fonts/pt_sans-caption-web-bold-webfont.eot');
    src: url('../fonts/pt_sans-caption-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-caption-web-bold-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-caption-web-bold-webfont.woff') format('woff'),
         url('../fonts/pt_sans-caption-web-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Caption';
    src: url('../fonts/pt_sans-caption-web-regular-webfont.eot');
    src: url('../fonts/pt_sans-caption-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-caption-web-regular-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-caption-web-regular-webfont.woff') format('woff'),
         url('../fonts/pt_sans-caption-web-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pt_sans-web-bold-webfont.eot');
    src: url('../fonts/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-web-bold-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-bold-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pt_sans-web-regular-webfont.eot');
    src: url('../fonts/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
         url('../fonts/pt_sans-web-regular-webfont.woff') format('woff'),
         url('../fonts/pt_sans-web-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
