article.blog-post
  .blog-post__wrapper
    h1 Remote User Research & Usability Methods to Gather Important Insights Fast
    p
      time(date-time="2015-07-11") Posted on June 11, 2015
    
    img(src="http://placehold.it/620x320", alt="Illustration")
    
    p It's a set of mockups linked to ecach other to describe the flow of the app. It can be opened on mobile device or just in web browser.
    p It's a set of mockups linked to ecach other to describe the flow of the app. It can be opened on mobile device or just in web browser.

    h2 iHome

    p This company is most widely known as an accessory maker, but this is about to change soon. Starting from June 15, iHome opens pre-orders for its WiFi-enabled smart plug iSP5 that is supposed to make any electric appliance a smart one.
    p Using these devices, you’ll be able to turn your home appliances on and off at will, as well as by creating schedules. It’s also possible to combine several plugs into a “scene” to apply commands to all of them.

    img(src="http://placehold.it/620x200", alt="Illustration")

    h2 Insteon

    p Coming to the market in late June, Insteon’s HomeKit-compatible smart hub will allow users to control any other appliances bearing the company’s logo. Those include thermostats, wall outlets, LED light bulbs, door locks and so on.
