.about
  .about__wrapper
    h2.about__title About us
    p.about__text We’re passionate about mobile applications and striving to do world better with them.
    
    ul.about__metrics
      li.about__metric
        span.about__value 100+ 
        br
        span.about__text Projects done
      li.about__metric
        span.about__value 20 
        span.about__text
          | Pro’s in 
          br 
          | the Team
      li.about__metric
        span.about__value 10 
        span.about__text Years on the 
          br
          | market
      li.about__metric
        span.about__value 4 
        span.about__text Countries 
          br 
          | covered

    nav.about__social
      a.about__linked-in(href="https://www.linkedin.com/company/seductive/", target="_blank") 
        span Follow us on Linkedin
      a.about__fb(href="https://www.facebook.com/seductive.company", target="_blank") 
        span Follow us on Facebook
