@import "../../helpers/*.css";

.about{
  background: $cyan;
  &__abstract{
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    }
  &__value{
    font-size: 36px;
    line-height: 42px;
    display: inline-block;
    vertical-align: top;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    margin: 0 15px 0 0;
    }
  &__metrics{
    position: absolute;
    top: 270px;
    left: 0;
    right: 0;
    height: 50px;
    }
  &__metric{
    width: 25%;
    float: left;
    text-align: center;
    }
  &__social{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    }
  &__linked-in,
  &__fb{
    white-space: nowrap;
    background-color: $white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    height: 40px;
    padding: 0 50px;
    font-weight: bold;
    span{
      display: inline-block;
      position: relative;
      top: 2px;
      padding: 0 0 0 35px;
      }
    }
  &__linked-in span{
    color: $cyan;
    background: url('../images/in.png') 2px 11px no-repeat;
    background-size: 15px auto;
    }
  &__fb span{
    color: $some-blue;
    background: url('../images/fb.png') 2px 8px no-repeat;
    background-size: auto 16px;
    }
  &__title{
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    margin: 0 0 30px;
    font-family: 'PT Sans Caption', sans-serif;
    }
  &__text{
    font-size: 16px;
    line-height: 20px;
    max-width: 340px;
    }
  &__wrapper{
    position: relative;
    max-width: 990px;
    height: 370px;
    padding: 40px 20px;
    margin: 0 auto;
    color: $white;
    background: url('../images/about.jpg') 50% 100% no-repeat;
    background-size: 100% auto;
    }
  }


@media screen and (max-width: 767px) {
  html body .about{
    &__wrapper{
      background-size: auto 330px;
      height: auto;
      padding: 20px;
      }
    &__abstract{
      line-height: 15px;
      font-size: 12px;
      margin-top: 2px;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      }
    &__value{
      font-size: 36px;
      }
    &__text{
      margin: 0 0 30px;
      line-height: 20px;
      font-size: 16px;
      }
    &__metrics{
      height: auto;
      position: static;
      }
    &__metric{
      height: 60px;
      width: 50%;
      text-align: left;
      margin: 0 0 20px;
      }
    &__social{
      position: static;
      }
    &__linked-in,
    &__fb{
      width: 100%;
      margin: 0 0 10px;
      box-sizing: border-box;
      }
    }
  }
