section.details
  .details__wrapper
    section.details__column
      h2.details__title Why do i need that?
      .details__detail.details__detail_icon_assign
        h3.details__sub-title Assign right tasks to developers
        p.details__text You've got an idea in mind, but what's next?  Writing detailed specs on 50 pages is not an option. 
      .details__detail.details__detail_icon_advice
        h3.details__sub-title Get professional advice
        p.details__text Often not everything is decided, would be great if a specialist could share an insight or opinion.
      .details__detail.details__detail_icon_collaboration
        h3.details__sub-title Try out the collaboration
        p.details__text You can experience the feel of working with a vendor with no risk. And we can understand your tasks better, while contributing to creation of more great apps.
    section.details__column
      h2.details__title Benefits of wireframes
      .details__detail.details__detail_icon_specs
        h3.details__sub-title Clarify Specs and Evaluation
        p.details__text Nobody can estimate precisely on an app "just like Instagram", but with clear prototype – it's became possible to name real timing & budget
      .details__detail.details__detail_icon_visualize
        h3.details__sub-title Visualize your product
        p.details__text There's always great to see your idea coming to live. The picture stands for 1000 words.
      .details__detail.details__detail_icon_demos
        h3.details__sub-title Do Demos and get Validation
        p.details__text Be that the end user, boss or collegues, their words matters. Send em a link or show on the device to get valuable feedback.
