@import "source/helpers/helpers.css";

.contacts{
  background: $blue-black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  &__copyright{
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: color($white a(25%));
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 1px;
    }
  &__address{
    &-title{
      color: $white;
      font-weight: bold;
      font-family: "PT Sans Caption", sans-serif;
      font-size: 22px;
      line-height: 40px;
      margin: 0 0 40px;
      }
    &-line{
      font-style: 16px;
      line-height: 30px;
      color: $white;
      span{
        width: 24px;
        display: inline-block;
        }
      }
    }
  &__input{
    @mixin input;
    background-color: $grey;
    width: 280px;
    display: block;
    margin: 0 0 10px;
    &:focus,
    &:hover{
      background: color($grey lightness(+5%));
      }
    }
  &__textarea{
    display: block;
    width: 280px;
    height: 130px;
    background-color: $grey;
    color: $white;
    resize: none;
    padding: 0 10px;
    margin: 0 0 10px;
    border-style: none;
    font-size: 14px;
    line-height: 32px;
    box-sizing: border-box;
    transition: background-color .25s;
    font-family: "PT Sans", sans-serif;
    &:focus,
    &:hover{
      background: color($grey lightness(+5%));
      }
    }
  &__submit{
    @mixin buttonClean;
    display: block;
    width: 280px;
    }
  &__form{
    position: absolute;
    top: 150px;
    left: 600px;
    width: 280px;
    }
  &__wrapper{
    position: relative;
    height: 456px;
    max-width: 990px;
    padding: 75px 20px 0;
    margin: 0 auto;
    }
  }

@media screen and (max-width: 900px) {
  html body .contacts{
    &__form{
      left: auto;
      right: 20px;
      }
    }
  }

@media screen and (max-width: 650px) {
  html body .contacts{
    position: static;
    box-shadow: 0 1000px 0 1000px $blue-black;
    &__form{
      width: auto;
      position: static;
      margin: 0 0 50px;
      }
    &__submit,
    &__input,
    &__textarea{
      width: 100%;
      }
    &__address{
      margin: 0 0 20px;
      &-title{
        margin: 0 0 8px;
        }
      }
    &__wrapper{
      margin: 0 20px;
      box-sizing: border-box;
      padding: 25px 0;
      height: auto;
      }
    &__copyright{
      position: static;
      }
    }
  }
