@import "../../helpers/*.css";

.abstract{
  background: $darkest-blue url('../images/video-poster.jpg') 50% 50% no-repeat;
  background-size: cover;

  width: 100%;
  overflow: hidden;
  position: relative;

  &__contact{
    display: none;
    margin: 30px 0 20px;
    }

  &__advantage{
    width: 33%;
    box-sizing: border-box;
    padding: 0 15px;
    font-size: 14px;
    line-height: 20px;
    float: left;
    background: 25px 32px no-repeat;
    &_ux{
      background-image: url('../images/ux.png');
      background-size: 30px 29px;
      }
    &_native{
      background-image: url('../images/native.png');
      background-size: 31px 26px;
      }
    &_backend{
      background-image: url('../images/backend.png');
      background-size: 25px 27px;
      }
    p{
      border-top: 1px solid color($white a(20%));
      padding: 30px 0 0 60px;
      }
    }

  &__advantages{
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    min-height: 120px;
    }

  &__title{
    font-size: 44px;
    line-height: 50px;
    max-width: 500px;
    font-family: 'PT Sans Caption', sans-serif;
    }

  &__wrapper{
    position: relative;
    z-index: 1;

    height: 320px;
    max-width: 990px;
    padding: 120px 20px 0;
    margin: 0 auto;

    color: $white;
    }

  &__video{
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity 2s;
    z-index: 0;
    &_loaded{
      opacity: 1;
      }
    }
  }


@media screen and (max-width: 767px) {
  html body .abstract{
    &__contact{
      display: block;
      width: 100%;
      @mixin buttonClean;
      }
    &__wrapper{
      padding: 75px 20px 20px;
      height: auto;
      }
    &__video{
      display: none;
      }
    &__title{
      font-size: 22px;
      line-height: 30px;
      margin: 0 0 20px;
      }
    &__advantages{
      position: static;
      padding: 0;
      }
    &__advantage{
      padding: 0;
      display: block;
      width: auto;
      float: none;
      background-position: 10px 50%;
      p{
        padding: 20px 0 20px 60px;
        font-size: 16px;
        line-height: 20px;
        }
      }
    }
  }
